NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8787
NEXT_PUBLIC_APP_URL=http://localhost:3000

CREEM_API_KEY=
CREEM_WEBHOOK_SECRET=
CREEM_ONE_TIME_REPORT_PRODUCT_ID=
CREEM_PLUS_MONTHLY_PRODUCT_ID=
CREEM_API_BASE_URL=https://test-api.creem.io
